.form-wrapper{
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 800px;
    #form-options{
        width: 10em;
        flex-shrink: 0;
        flex-grow: 0;
    }
    #form-build{
        width: 100%;
        display: block;
        box-sizing: border-box;
        padding-bottom: 8em;
        background: salmon;
        li{
            box-sizing: border-box;
            padding: 1em 1em 0 1em;
        }
    }
}

// Styles for the form item.  MUST BE OUTSIDE to work for cloned drag images
li.form-item{
    width: 100%;
    display: block;
    list-style: none;
    .button-holder{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        height: auto;
        width: auto;
        float: right;
    }
    .editable-content{
        background: grey;
        overflow: hidden;
        transition: height .2s linear;
        div{
            width: 100%;
            padding: 2em;
            div{
                padding: 0;
            }
        }
    }
    // .editable-content.open{
    //     max-height: 100%;
    // }
}

//Styles for the listed options. MUST BE OUTSIDE to work for cloned drag images

li.form-option{
    list-style: none;
}

.editbutton::after {
    content: '\270E';
    font-weight: bold;
    transform: rotate(90deg);
}

.closebutton::after {
    content: '\0072';
    font-weight: bold;
    font-family: Webdings;
}
